<div>
	<div class="container">
        <div class="row">
            <div class="text-center welcomeText">
                <h2>Welcome to Chat Sockets!</h2>
                <p>This is an online chatroom powered by the MEAN stack and Socket.io</p>
            </div>
        </div>
    </div>
	
	<div class="container">
        <div class="row">
        	<div class="mainPageContent">
                <div id="chatroom">
                    <p ng-repeat="chat in chats track by $index">
                        <span class="chatUsername">{{ chat.username }}</span>: <span class="chatMessage">{{ chat.message }}</span>
                    </p>
                </div>
                <form id="chatForm" role="form" ng-submit="postChatMessage()">
                    <div class="form-group">
                        <input type="text" class="form-control" id="chatMessage" placeholder="Enter message here" ng-model="chatMessage" autocomplete="off">
                    </div>
                </form>
        	</div>
        </div>
    </div>
</div>